:root {
    --purplue-color: rgb(129, 15, 206);
}

*::selection {
    background-color: var(--purplue-color);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h3,
img,
h5,
ul,
h6 {
    margin: 0 !important;
    padding: 0 !important;
}

nav {
    z-index: 111111;
}
nav.navbarHome{
    background-color: var(--purplue-color);

}

.index section{
    margin-bottom: 50px;

}

main {
    padding: 80px 10px 0;
    min-height: fit-content;
    margin-bottom: 100px;
    display: flex;
    background-image: url(/src/imgs/mainbackground2.jpg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

main::before {
    position: absolute;
    content: '';
    width: 100%;
    z-index: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(31, 27, 27, 0.377);
}

main .container {
    z-index: 1;
}

.cources .cource-card {
    height: 140px;
    max-width: 160px;
    width: 100%;
}

.cources img {
    /* background-color: red; */
    width: 65px;
    height: 60px;
    margin-bottom: 26px;
}



.whyus {
    min-height: 50vh;
    margin-bottom: 50px;
}

.whyus .container {
    padding: 70px 0;
    background-image: url(../../imgs/whyusback.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 50vh;
    position: relative;
}

.whyus .container::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.whyus .whyus-cards {
    z-index: 33;
    color: white;
}

.whyus h1,
.whyus h3 {
    position: relative;
    z-index: 33;
}

.whyus .whyus-cards .card img {
    width: 100px;
}

@media (max-width:560px) {
    .whyus .whyus-cards {
        flex-wrap: wrap;
        /* background-color: red; */
    }

    .whyus .whyus-cards .card .card-body p {
        max-width: 350px;
        width: 100%;
    }
}





.popular-cources {
    min-height: 90vh;
    /* background-color: red; */
    padding: 30px 10px;
}

.popular-cources .popular-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.popular-cards .card {
    box-shadow: 0px 5px 10px #aaa;
    overflow: hidden;

}

.popular-cources .popular-cards img {
    height: 200px;
    /* max-width: 400px; */
    /* width: 100px; */
    transition: .5s ease;
}

/* .popular-cources .popular-cards img:hover{
    width: 300px;
} */


.popular-cards .price {
    background-color: yellow;
}




.Courses {
    padding: 80px 10px 60px;

}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(290px, 100%), 1fr));
    justify-content: center;
    /* background-color: red; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    gap: 20px;
}




.Comments {
    padding: 40px 10px 60px;
    position: relative;
    min-height: 65vh;
    background-color: rgb(117, 85, 129);
}

.Comments .container {
    position: relative;
    z-index: 1;
}

.Comments::before {
    content: '';
    height: 100%;
    background-image: url(/src/imgs/comments.png);
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.Comments .comment-card {
    /* border: 1px solid black; */
    max-width: 700px;
    min-height: 300px;
    background-color: white;
    border-radius: 6px;
    position: relative;
}

.Comments .comment-card-logo-contianer {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: var(--purplue-color);
    right: 0;
    bottom: 0;
    border-radius: 20px 0 0 0;
}

.Comments .comment-card-logo {
    content: url(../../imgs/logo.png);
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--purplue-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2222;
}

.Comments .comment-card img {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 1px solid white;
    outline: 2px solid var(--purplue-color);
}



.Contact {
    padding: 80px 10px 60px;
}

.Contact li {
    /* border:  1px solid red; */
    margin-bottom: 10px;
    padding: 10px 5px;
}

.Contact li p {
    margin: 0;
}

.Contact .contact-icon {
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    position: relative;
    background-color: var(--purplue-color);

}

.Contact .contact-icon:not(.last)::before {
    content: "";
    position: absolute;
    left: 46%;
    top: 10px;
    height: 130px;
    background-color: var(--purplue-color);
    width: 3px;
    z-index: -1;
}

.Contact form p {
    background-color: var(--purplue-color);
}

.Contact svg {
    height: 20px;
    width: 20px;
    fill: white;
}

.Contact :is(input, textarea) {
    width: 100%;
    padding: 8px 10px;
    background-color: #e7e4e4;
    border: none;
    outline: none;
}

.Contact input::placeholder,
.Contact textarea::placeholder {
    color: #aaa;
}

.Contact textarea {
    min-height: 100px;
    max-height: 150px;
}

@media (max-width:1200px) {

    .Contact input,
    .Contact textarea {
        max-width: 100%;
    }
}





.Blog {
    padding: 80px 10px 60px;
}

.Blog-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.blog-input {
    height: 45px;
}

.blog-input input:focus,
.blog-input input:hover {
    border: none;
    outline: none;
}

.blog-input button {
    width: 45px;
    background-color: var(--purplue-color);
    border: none;
    outline: none;
}

.Blog .blog-tag {
    padding: 5px;
    color: white;
    cursor: pointer;
    font-size: .9rem;
    background-color: var(--purplue-color);
    width: fit-content;
}


.About {
    padding: 80px 10px 60px;

}

.About-intro-box1 {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
}

.About-intro-box1 img.big {
    height: 300px;
}

.About-intro-box1 .about-intro-box1-text {
    width: 40%;
}

.About-intro-box1 img.small {
    height: 250px;
    width: 65%;
    /* min-width: 450px; */
}

@media (max-width:767px) {
    .About-intro-box1 .about-intro-box1-text {
        width: 100%;
    }

    .About-intro-box1 img.small {
        width: 100%;

    }
}

.About .about-intro-box2-hovertext {}

.About .about-intro-box2-signhover .tick {
    transition: .4s ease;
    background-color: white;
    display: block;
    background-color: var(--purplue-color);
    fill: white;
}

.About .about-intro-box2-signhover .star {
    transition: .4s ease;
    background-color: white;
    display: none;
    animation: star .5s linear;
    fill: white;
    background-color: var(--purplue-color);
    padding: 4px;


}

.About .about-intro-box2-hovertext:hover+.about-intro-box2-signhover .tick {
    display: none;
}

.About .about-intro-box2-hovertext:hover+.about-intro-box2-signhover .star {
    display: block;
}

@keyframes star {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 180deg;
    }

}

.about-services-card {
    max-width: 250px;
    height: 350px;
}

.about-services-card .card-img-top {
    height: 180px;
}

.about-services-card .card-body {
    padding: 5px;
}


.about-count {
    position: relative;
    height: 60vh;
    background-color: #aaa;
    background-image: url(../../imgs/countback1.jpg);
    background-size: cover;
    background-position: bottom;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-count .container {
    position: relative;
    z-index: 11;
    color: white;
}

.about-count::before {
    position: absolute;
    content: '';
    width: 100%;
    z-index: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(31, 27, 27, 0.699);
}

.about-count .about-count-box {
    text-align: center;
    max-width: 200px;
    width: 100%;
    border-right: 2px solid white;
}

.rectentimg {
    width: 120px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.rectentimg1 {
    background-image: url(../../imgs/footer1.jpg);
}

.rectentimg2 {
    background-image: url(../../imgs/footer2.jpg);
}

.blog-gallary-img {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
}

.Blog .blog-box .catagory-points {
    width: 5px;
    height: 5px;
    background-color: var(--purplue-color);
}














.purple-text {
    color: var(--purplue-color);
}











/* ////////////////////////////////////////////////////// */


.swiper {
    width: 100%;
    height: 100%;
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #dd0909;
} */
.teacher-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 290px;
    height: 350px;
    position: relative;
}

.teacher-card:hover .teacher-card-text {
    bottom: -60px;
    background-color: var(--purplue-color);
    color: white;
}

.teacher-card:hover .teacher-card-text::before {
    background-color: var(--purplue-color);
    transform: rotate(47deg);
    border-radius: 0%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.swiper-slide .teacher-card-text {
    position: absolute;
    background-color: white;
    height: 200px;
    width: 100%;
    bottom: -110px;
    transition: .5s ease;
}

.swiper-slide .teacher-card-text::before {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    top: -11px;
    left: 44%;
    transform: translateX(-50%);
    transition: .5s ease;
    transform: rotate(0deg);
}




/* .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
   */