.admain-basic-box{
    max-width: 250px;
    width: 100%;
    background-color: white;
    height: 100px;
    flex: 1;
}
.Activites{
}





/* Add user page */
.Adduser .input-container{
    max-width: 250px;
    width: 100%;
    flex: 1;

}

section{
    min-height: fit-content;
    /* border: 1px solid red; */
}
