.landing {
    min-height: 100vh;
    padding: 100px 60px 10px 280px;
    background-color: #ececec;
}

@media (max-width:1000px) {
    .landing {
        padding: 100px 20px 10px 20px;
    }
}

.landing a {
    text-decoration: none;
}

.landing .col {
    width: 100%;
    /* border: 1px solid red; */
}

.landing section {
    /* min-height: 70vh; */
    /* border: 1px solid blue; */
    margin-bottom: 20px;
}

.student-process .rows {
    /* background-color: yellow; */

}

.chart-container1 {
    max-width: 300px;
    /* max-width:600px ; */
    width: 100%;
    /* background-color: red; */
}

.chart-container2 {
    max-width: 400px;
    width: 100%;
    background-color: red;
}

.c2 {
    max-width: 200px;
    /* height: fit-content; */
    /* max-width: 100%; */
    /* flex-direction: row; */
    /* background-color: brown; */
}

.c3 {
    width: 100%;
    max-width: 300px;

    /* background-color: brown; */
}





.landing .Classes-boxes,
.landing .Tasks-boxes {
    max-width: 500px;
}

/* .landing .Acadmic .Classes .Classes-boxes .box{
    height: 200px;
    width: 200px;
    background-color: red;
    background-color: rgb(84, 72, 255);
    border-radius: 6px;
    box-shadow: 0 5px 5px #ccc;
} */



.landing .Classes-boxes,
.landing .Tasks-boxes {
    max-width: 500px;
}

.landing .Acadmic .Tasks-boxes .box {
    max-width: 450px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 107px;
    border: 1px solid #e2e2e2;
}

.landing .Acadmic .box-details {
    flex: 1;
}

.landing .Acadmic .line-progress {
    width: 90%;
    height: 10px;
    background-color: #ccc;
    position: relative;
    margin: 10px 0;

}

.landing .Acadmic .line-progress div {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
}








.potfolio-form {
    /* padding: 20px 10px; */
    min-height: 70vh;
    margin-bottom: 40px;
    background-color: white;
}

.potfolio-form .profile-data {
    min-width: 200px;
    /* background-color: red; */
}

.potfolio-form .profile-deatails .info {
    /* background-color: red; */
    border-bottom: 1px solid #ccc;
}

.potfolio-form .profile-deatails p {
    /* background-color: red; */
    /* border-bottom: 1px solid #240000; */
    margin-bottom: 5px;
}




.Chatstu {
    padding: 20px 50px;
    /* ////////////////////// */
    /* padding: 20px 10px; */
    min-height: 70vh;
    margin-bottom: 40px;
    background-color: white;
}

















.SettingsStu span.color {
    width: 60px;
    height: 60px;
    /* border: 1px solid black; */
    cursor: pointer;
    /* background: attr(data-color); */
}

.SettingsStu span.color-active {
    /* border: 3px solid black; */
}