.Adduser{
}
.Adduser .input-container{
    max-width: 300px;
    width: 100%;
    flex: 1;
    width: 100%;
    /* border: 1px solid blue; */
}
.Adduser input , .Adduser textarea{
    padding: 4px ;
    outline: none ;
    border: 1px solid #aaaaaa84;
}
.Adduser #img-Uploaded{
    width: 200px;
    height: 200px;
}
.Adduser textarea{
    height: 100px;
    resize: none;
}
select{
    width: 140px;
    border: 1px solid #aaa;
    background-color: White;
    outline: none;
    padding:  5px 10px;
}